<h1>{{title}}</h1>
<div class="c-report">
	<div class="c-report__content">
		<header class="c-report__header">
			<h2>{{reviewerName}}</h2>
			<date class="c-report__date">
				{{reviewDate}}
			</date>
		</header>
		<div class="c-report__text">
			<div class="c-report__section">
				<h3 class="c-report__section-title">Feedback for author(s)</h3>
				<p>{{{authorFeedbackText}}}</p>
			</div>
			<div class="c-report__section">
				<h3 class="c-report__section-title">Feedback for editor</h3>
				<p>{{{editorFeedbackText}}}</p>
			</div>
		</div>
	</div>
	<div>

	</div>
</div>