<h1 class="u-mb20 u-font-serif">{{title}}</h1>
<div class="c-comments">
    <div class="c-comments--content">
        <h2 class="c-comments--heading u-mb20 u-font-serif">
            {{reviewerName}}
            <span class="u-ml20" data-component-format-date data-test="review-date">
                {{reviewDate}}
            </span>
        </h2>
        <div class="c-comments--text u-font-sans-serif">
            <h3 class="u-mb10">Feedback for author(s)</h3>
            <p class="u-pre-wrap u-mb15">{{{authorFeedbackText}}}</p>
            <h3 class="u-mb10">Feedback for editor</h3>
            <p class="u-pre-wrap">{{{editorFeedbackText}}}</p>            
        </div>
    </div>
    <div></div>
</div>
